.faqContainer {
    position: fixed;
    right: 0;
    height: 50vh;
    top: 10%;
    background-color: transparent;
    color: white;
    padding: 16px;
    overflow-y: auto;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transform: translateX(100%);
    opacity: 0;
    z-index: 30;
  }
  

.faqContainer.show {
    transform: translateX(0);
    opacity: 1;
  }
  
  .faqContainer.hide {
    transform: translateX(100%);
    opacity: 0;
  }

  .transitionFont {
    transition: font-size 0.3s ease-in-out;
    transition: color 0.5s ease-in-out;
  }
  
  .transitionFont:hover {
    font-size: 0.8em;
    color: rgb(50, 43, 255)
  }

  @media (max-width: 950px){
    .faqContainer{

        top: 50%;
        height: 35vh;
       
    }
}

  @media (max-width: 650px){
    .faqContainer{
        top: 5%;
        height: 30vh;
       
    }
  }