.button {
  position: relative;
  padding: 10px 20px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  margin-top: 15%;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: auto;
}

.section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.article {
  position: relative;
  z-index: 1;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
  width: 100%;
}

.sceneWrapper {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.button {
  position: relative;
  padding: 10px 20px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  margin-top: 15%;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
}

.button::before,
.button::after,
.button span::before,
.button span::after {
  content: "";
  position: absolute;
  background-color: white;
  transition: all 1s ease-in-out;
}

/* Top border */
.button::before {
  height: 2px;
  width: 0;
  top: 0;
  left: 0;
}

/* Right border */
.button::after {
  width: 2px;
  height: 0;
  top: 0;
  right: 0;
}

/* Bottom border */
.button span::before {
  height: 2px;
  width: 0;
  bottom: 0;
  right: 0;
}

/* Left border */
.button span::after {
  width: 2px;
  height: 0;
  bottom: 0;
  left: 0;
}

.button:hover::before {
  width: 100%;
}

.button:hover::after {
  height: 100%;
}

.button:hover span::before {
  width: 100%;
}

.button:hover span::after {
  height: 100%;
}

.paragragh {
  text-align: center;
  z-index: 50;
  font-size: 1.2rem;
  margin-bottom: 20%;
}
.button {
  font-size: 1.1rem;
}

@media (min-width: 900px) {
  .paragragh {
    font-size: 2rem;
  }

  .button {
    font-size: 1rem;
  }
}

@media (min-width: 500px) {
  .paragragh {
    font-size: 1rem;
    margin-bottom: 0%;
  }

  .button {
    font-size: 1rem;
  }
}
