@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --nav-h: 72px;
  --footer-h: 32px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto Mono", monospace;
}
