.section {
  height: 50%;
  width: 100%;
}

@media (min-width: 1024px) {
  .section {
    width: 50%;
  }
}

.block {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.title {
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.text {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.link {
  font-size: 0.75rem;
  color: #93c5fd;
}

.transitionFont {
  transition:
    font-size 0.3s ease-in-out,
    color 0.5s ease-in-out;
}

.transitionFont:hover {
  font-size: 0.8em;
  color: rgb(50, 43, 255);
}

.article {
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
