.section {
  height: auto;
  width: 100%;
}

.block {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.title {
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.text {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.article {
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
